#available_settings_issue_view_default_columns,
#selected_settings_issue_view_default_columns,
#available_c,
#selected_c {
    width: 250px !important;
}

@media screen and (max-width: 899px) {
  #issue_tree .issue > td:not(.checkbox), #relations .issue > td:not(.checkbox) {
    float: none;
  }

  #issue_tree .issues, #relations .issues {
    border-spacing: 0 0;
  }
}
